$primary: #3DB46D;
$secondary: #6c757d;
$danger: #dc3545;
$light: #ffffff;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"danger": $danger,
	"light": $light
);

$btn-variants: (
	"outline"
);

$muted: #BDBDBD;
